[package]
name = "udpipe-rs"
version = "0.1.3"
edition = "2024"
rust-version = "1.85"
authors = ["Christopher Costello"]
description = "Rust bindings for UDPipe - a trainable pipeline for tokenization, tagging, lemmatization and dependency parsing of CoNLL-U files"
license = "MIT OR Apache-2.0"
repository = "https://github.com/ccostello97/udpipe-rs"
keywords = ["nlp", "parsing", "udpipe", "dependency-parsing", "pos-tagging"]
categories = ["text-processing", "science"]
readme = "README.md"

[build-dependencies]
cc = "1.2.51"
ureq = "3.1"
zip = "7.0.0"

[dependencies]
ureq = "3.1"

[dev-dependencies]
tempfile = "3.15"
mockito = "1.7"
